.manage-specialist-container {
    .manage-specialist-content {
        padding: 20px 40px;

        .ms-title {
            font-weight: 600;
            font-size: 20px;
            text-transform: uppercase;
            text-align: center;
        }

        .add-new-specialist {


            .btn-save-specialist {
                padding-bottom: 40px;
            }
        }
    }
}